<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BILD.de</key>
	<dict>
		<key>Links</key>
		<dict>
			<key>Homepage</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>News</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Politik</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Unterhaltung</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Sport</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Lifestyle</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Ratgeber</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Auto</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Digital</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Spiele</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Spiegel ONLINE</key>
	<dict>
		<key>Links</key>
		<dict>
			<key>einestages - Zeitgeschichten auf SPIEGEL ONLINE</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Aktuelle Videos von SPIEGEL ONLINE</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>SPIEGEL ONLINE komplett mit allen Artikeln</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Einmeldungen - die Breaking News von Spiegel Online</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Alle Topmeldungen von SPIEGEL ONLINE</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>RT Deutsch</key>
	<dict>
		<key>Links</key>
		<dict>
			<key>International</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Deutschland</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Wirtschaft</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Gesellschaft</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<true/>
			</dict>
			<key>Videos</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Golem.de</key>
	<dict>
		<key>Links</key>
		<dict>
			<key>Audio/Video</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Foto</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Games</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Handy</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Internet</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Mobil</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Open Source Software</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Politik/Recht</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Security</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Desktop-Applikationen</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Software-Entwicklung</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
			<key>Wirtschaft</key>
			<dict>
				<key>link</key>
				<string></string>
				<key>default</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
